body {
    background-color: black;
}

h1 {
    color: darkgreen;
    margin-left: 42%;
    --animate-duration: 2.5s;
}

#blink {
    background-color: darkgreen;
    height: 2px;
    width: 15px;
    display: inline-block;
    margin-left: 5px;
}

button {
    background-color: black;
    color: grey;
    height: 45px;
    width: 200px;
    margin-left: 41.5%;
    border: 3px solid red;
    border-radius: 10px;
}
#btn-1:hover {
    color: black;
    background-color: red;
    border: 4px solid grey;
}
#btn-2 {
    margin-top: 50px;
}

#btn-2:hover {
    color: black;
    background-color: red;
    border: 4px solid grey;
}

#btn-3:hover {
    color: black;
    background-color: red;
    border: 4px solid grey;
}


